
<div class="home_wrapper">

	<h1>Welcome to Middle Earth</h1>

	<h3>Welcome to the Lord of the Rings site for and by Tolkein Fanatics. Feel free to enjoy all the fantastic Lord of the Rings material we have gathered on this and share in the passion for Middle-Earth</h3>


</div>


