<div class="header">
	<%= link_to image_tag('logo.jpg', id:"logo") %>
	<nav>
		<ul>
			<li><a href="#">Sign In</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
			<li><button id="menu">MENU</button></li>
		</ul>
	</nav>
	<ul class="menu_list">
			<li><a href="#">ABOUT</a></li>
			<li><a href="#">HOME</a></li>
			<li><a href="#">CONTACT</a></li>
	</ul>
</div>